/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Raleway';
	background-color: #dedede;
	padding-bottom: 0;
}
.container {
	padding: 0;
}

footer {
	background-color: #ffffff;
	padding: 20px;
	text-align: left;
	font-size: 15px;
}

footer img {
	width: 80px; 
	height: auto;
}

#footer-content {
	padding: 0 10px;
}

.navbar {
	padding-left: 10px;
}
.loading {
	display: inline-block;
	width: 16px !important;
	height: 16px !important;
	background-repeat: none;
	margin: 2px;
	vertical-align: middle;
	background-image: url(../img/ajax-loader.gif);
}

#top-content {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

#top-content img {
	width: 80%;
	margin: 40px auto;
	margin-bottom: -100px;
}

#steps {
	margin: 30px 0;
	color: #ffffff;
	font-family: 'Raleway';
	line-height: 5px;
	font-size: 30px;
}

#steps p {
	margin: 0;
}

.top-text {
	font-family: 'Raleway';
}

#main h4 {
	font-size: 20px;
}

#main {
	padding-top: 40px;
	text-align: center;
}

#main .btn-large {
	border-color: black;
	background-color: transparent;
	color: black;
}

#main .btn-large:hover {
	border-color: white;
	background-color: white;
}

.center {
	float: none;
	margin: 0 auto;
}

.anchor {
	padding-top: 50px;
	margin-top: -50px;
}
#my-sections li div:not(.loading) {
	border-radius: 5px;
	border: solid 1px #999999;
	background: linear-gradient(top, white, #EEEEEE);
	background: -webkit-linear-gradient(top, white, #EEEEEE);
    background: -moz-linear-gradient(top, white, #EEEEEE);
    background: -ms-linear-gradient(top, white, #EEEEEE);
    background: -o-linear-gradient(top, white, #EEEEEE);
    padding: 4px;
}

#my-sections li {
	position: relative;
	margin-bottom: 4px;
}

.close {
	position: absolute;
	right: 0;
	bottom: 0;
}

#my-sections li > div:hover {
	-webkit-box-shadow: 0px 0px 4px 2px #D50E0E;
    -moz-box-shadow: 0px 0px 4px 2px #D50E0E;
    -o-box-shadow: 0px 0px 4px 2px #D50E0E;
    -ms-box-shadow: 0px 0px 4px 2px #D50E0E;
    box-shadow: 0px 0px 4px 2px #D50E0E;
}

/*#my-sections li div .close{
	font-size:16px;
	background: linear-gradient(top, #990000, #800000);
	background: -webkit-linear-gradient(top, #990000, #800000);
    background: -moz-linear-gradient(top, #990000, #800000);
    background: -ms-linear-gradient(top, #990000, #800000);
    background: -o-linear-gradient(top, #990000, #800000);
}*/

#semesters {
	font-size: 15px;
	text-align: center;
}

#semesters li:hover {
	cursor:pointer;
}

#semester-highlighted {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: #bababa;
}

select {
	padding: 10px;
}

#review {
	background-color: white;
	margin: 0;
	margin-top: 40px;
	padding: 15px;
	text-align: center;
}

#review .btn-large {
	color: black;
	border-color: #dedede;
	background-color: transparent;
}

#review .btn-large:hover {
	color: black;
	border-color: #dedede;
	background-color: #dedede;
}

.export {
	padding: 20px;
}
