/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Raleway';
	background-color: #e0e0e0;
	padding-bottom: 0;
}

nav {
	background-color: #ab2a2a;
}

nav .brand-logo {
	padding: 0 20px;
}

.top-container {
	background-color: #ab2a2a;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.container {
	padding: 0;
}

#steps ol {
	padding-left: 0;
}

#steps li {
	display: block;
}

footer {
	background-color: #ffffff;
	padding: 20px;
	text-align: left;
	font-size: 15px;
}

footer img {
	width: 80px;
	height: auto;
}

#footer-content {
	padding: 0 10px;
}

.navbar {
	padding-left: 10px;
}
.loading {
	display: inline-block;
	width: 16px !important;
	height: 16px !important;
	background-repeat: none;
	margin: 2px;
	vertical-align: middle;
	background-image: url(../img/ajax-loader.gif);
}

#top-content {
	padding-top: 20px;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}

#top-content img {
	width: 85%;
	margin: 40px auto;
	margin-bottom: -15%;
}

#steps {
	margin: 30px 0;
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 30px;
}

.top-text {
	font-family: 'Raleway';
	color: #ffffff;
	width: 85%;
}

#main h4 {
	font-size: 20px;
}

#main {
	padding-top: 12%;
	text-align: center;
}

#main .btn-large {
	border-color: black;
	background-color: transparent;
	color: black;
}

#main .btn-large:hover {
	border-color: white;
	background-color: white;
}

.center {
	float: none;
	margin: 0 auto;
}

.anchor {
	padding-top: 50px;
	margin-top: -50px;
}
#my-sections li div:not(.loading) {
	border-radius: 5px;
	border: solid 1px #ab2a2a;
	padding: 0 5px;
}

#my-sections li {
	position: relative;
	margin: 10px;
	padding: 10px;
}

.close {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#my-sections li > div:hover {
	-webkit-box-shadow: 0px 0px 4px 2px #e0e0e0;
    -moz-box-shadow: 0px 0px 4px 2px #e0e0e0;
    -o-box-shadow: 0px 0px 4px 2px #e0e0e0;
    -ms-box-shadow: 0px 0px 4px 2px #e0e0e0;
    box-shadow: 0px 0px 4px 2px #e0e0e0;
}

/*#my-sections li div .close{
	font-size:16px;
	background: linear-gradient(top, #990000, #800000);
	background: -webkit-linear-gradient(top, #990000, #800000);
    background: -moz-linear-gradient(top, #990000, #800000);
    background: -ms-linear-gradient(top, #990000, #800000);
    background: -o-linear-gradient(top, #990000, #800000);
}*/

#semesters {
	font-size: 15px;
	text-align: center;
}

#semesters li:hover {
	cursor:pointer;
}

#semester-highlighted {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: #bababa;
}

select {
	padding: 10px;
}

#review {
	background-color: white;
	margin: 0;
	margin-top: 40px;
	padding: 15px;
	text-align: center;
}

#review .btn-large {
	color: black;
	border-color: #e0e0e0;
	background-color: transparent;
	margin-bottom: 20px;
}

#review .btn-large:hover {
	color: black;
	border-color: #e0e0e0;
	background-color: #e0e0e0;
}

#export {
	padding: 20px;
}

#create {
	width: 80%;
	margin: 0 auto;
}

#sections {
	width: 65%;
	margin: 0 auto;
	margin-top: 30px;
}

#empty-msg {
	width: 70%;
	margin: 0 auto;
}

#calendar {
	margin: 15px auto;
	width: 65%;
	font-size: 10px;
	position: relative;
}

#calendar .section {
	position: absolute;
	background-color: #ab2a2a;
	width: 16.666%;
	color: white;
	padding-top: 1%;
}

#calendar table {
	width: 100%;
}

#calendar table td {
	height: 18px;
	width: 16.666%;
	border: 1px black solid;
}

#calendar table th {
	height: 18px;
	width: 16.666%;
	border: 1px black solid;
}

#create {
	margin-top: -25px;
	padding-top: 25px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    /*display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    margin-bottom: 15px;
}

.type-option > li > a {
	border-radius: 5px !important;
}

.type-option > li.active > a {
	background-color: #e0e0e0;
	border: 1px white solid;
	color: #ab2a2a;
}

.type-option > li.active > a:focus {
	background-color: #e0e0e0;
	border: 1px white solid;
	color: #ab2a2a;
}

.tabs > .indicator {
	background-color: #ffab00 !important;
}

@media only screen and (max-device-width: 480px) {
	#top-content h2 {
		font-size: 35px;
	}

	#steps {
		font-size: 20px;
	}
}